.App {
  text-align: center;
  font-family: 'Kalam', cursive;
}

.Name {
  height: 30px;
  width: 500px;
  margin: 20px;
  font-size: 35px;
  font-weight: bold;
  text-align: left;
}

.Icon {
  font-size: 30px;
}

